.about {
  background: #000;
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 40px;
}


.about-hero {
  text-align: center;
  margin-bottom: 60px;
}

.about-title {
  font-family: "Playfair Display", serif;
  font-size: 54px;
  font-weight: 700;
}

.about-sub {
  font-family: "Marcellus", serif;
  font-size: 18px;
  letter-spacing: .5px;
  color: #cfcfcf;
}



.about-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 90px;
}

.about-left img {
  width: 420px;
  height: 520px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 0 40px rgba(255, 140, 0, 0.3);
}

.about-right {
  max-width: 650px;
}

.about-heading {
  font-family: "Cinzel", serif;
  font-size: 42px;
  font-weight: 700;
}

.about-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: rgb(220,220,220);
}

.about-points {
  margin-top: 20px;
}

.point {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
  margin-bottom: 10px;
}

.point span {
  font-size: 25px;
}


.about-stats {
  margin-top: 10px;       
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 10px 0 10px 0; 
}

.stat-box {
  text-align: center;
  transition: .3s ease;
}

.stat-box:hover {
  transform: scale(1.05);
}


.stat-box h2 {
  font-size: 40px;
  color: orange;
}

.stat-box p {
  color: rgb(209, 209, 209);
}

@media (max-width: 1000px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-left img {
    width: 100%;
    height: auto;
  }
}
