.services {
  background: black;
  color: white;
  padding: 40px 90px;
  margin-top: 30px;
}

.service-title {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 42px;
  margin-bottom: 40px;
}

.service-box {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
}

.service-box img {
  width: 380px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 140, 0, 0.25);
}

.service-content {
  max-width: 520px;
}

.service-box h2 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
}

.service-box p {
  font-size: 17px;
  color: rgb(210, 210, 210);
  margin: 10px 0;
}

.service-price {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 18px;
  font-size: 16px;
  color: #ffcc66;
  border: 1px solid #ffb400;
  border-radius: 20px;
  background: rgba(255, 180, 0, 0.1);
}

.service-btn {
  margin-top: 14px;
  padding: 10px 28px;
  border-radius: 30px;
  border: none;

  background: linear-gradient(135deg, #cb9e35, #ff8c00);
  color: black;

  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.service-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(255, 180, 0, 0.4);
}

.gold-divider {
  width: 85%;
  height: 1px;
  background: linear-gradient(to right, transparent, gold, transparent);
  margin: 20px auto;
}

/* Responsive */
@media (max-width: 900px) {
  .service-box {
    flex-direction: column;
    text-align: center;
  }

  .service-box img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .services {
    padding: 30px 20px;
  }

  .service-title {
    font-size: 32px;
  }

  .service-box h2 {
    font-size: 24px;
  }

  .service-box p {
    font-size: 15px;
  }

  .service-price {
    font-size: 14px;
  }

  .service-btn {
    font-size: 14px;
    padding: 8px 24px;
  }
}