*{box-sizing:border-box}
html,body{height:100%; background: #000}

.hero{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.hero-bg{
  position: absolute;
  inset: 0;
  background: url("/images/bmw.jpeg") center center / cover no-repeat;
  z-index: 1;
}

.hero-content {
  position: relative; 
  z-index: 1; 
  max-width: 1100px;
  padding: 20px;
  text-align: center;
  top: 400px;
  left: 200px;
}


.hero-content h1 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}


.hero-text-desktop {
  font-size: 20px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
}


.hero-text-mobile {
  display: none;
}

.flash-overlay{
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none; 
  background: radial-gradient(
      circle 320px at var(--x) var(--y),
      rgba(0, 0, 0, 0) 0%,      
      rgba(0, 0, 0, 0.25) 60%,    
      rgba(0, 0, 0, 0.6) 80%,     
      rgba(0, 0, 0, 1) 100%
  );
  transition: background-position 30ms linear; 
}

@media (max-width: 768px) {

  .hero {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    width: 88%;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    transform: translateY(20px);
  }

  .hero-content h1 {
    font-size: 34px;
    line-height: 40px;
  }


  .hero-text-desktop {
    display: none;
  }


  .hero-text-mobile {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    opacity: .9;
   
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 30px;
    line-height: 36px;
  }
}
