.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.15);      /* smooth glass effect */
}

  .logo {
    font-size: 24px;
    font-weight: bold;
    color:#ffa500;
    margin-right: 00px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .nav-links li {
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-links li:hover {
    color: #f39c12; 
  }
  
  .nav-btn {
    padding: 10px 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .nav-btn:hover {
    background: white;
    color: black;
  }
  