
.scroll-section {
  background: #000;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: -100px;
  padding: 20px 0 60px 0;
}


.scroll-title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  margin-bottom: 25px;
  color: orange;
}

.scroll-wrapper {
  display: flex;
  gap: 35px;
  padding: 10px 60px;
  width: 100%;

  overflow-x: scroll;
  overflow-y: hidden;

  cursor: grab;
  scroll-behavior: smooth;

  
  scroll-snap-type: none;
}


.scroll-wrapper:active {
  cursor: grabbing;
}


.scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.scroll-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.scroll-card {
  min-width: 400px;
  user-select: none; 
  text-align: center;
}


.scroll-card img {
  width: 100%;
  height: 260px;
  border-radius: 14px;
  object-fit: cover;

  box-shadow: 0 0 28px rgba(255,140,0,.25);
  transition: .35s ease;
}

.scroll-card img:hover {
  transform: scale(1.06);
  box-shadow: 0 0 55px rgba(255,165,0,.7);
}


.scroll-card h2 {
  margin-top: 10px;
  font-family: "Cinzel", serif;
}
