.section1 {
  width: 100%;
  background: #000;
  padding: 120px 80px;
  display: flex;
  justify-content: center;
}


.section1-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1400px;
}


.section1-image img {
  width: 430px;
  height: 530px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 0 40px rgba(255, 140, 0, 0.25);
}


.section1-content {
  max-width: 650px;
  color: white;
}


.subtitle {
  color: #ffa500;
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}


.title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  margin-bottom: 20px;
}


.desc {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 18px;
  color: rgb(220, 220, 220);
}

.explore-btn {
  padding: 12px 30px;
  font-size: 18px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s;
}

.explore-btn:hover {
  background: white;
  color: black;
}


@media (max-width: 1000px) {
  .section1-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .section1-image img {
    width: 100%;
    height: auto;
  }
}

